<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
        <LINK rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-header.css') }}">
        <LINK rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-footer.css') }}">
        <LINK rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/4-common.css') }}">
        <LINK rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/6-filters.css') }}">
    </HEAD>
    <BODY>

        <DIV class="container">
            <HEADER class="navbar navbar-dark bg-dark">
                <DIV class="container">
                    <A class="navbar-brand" href="#">HBNB</A>
                </DIV>
            </HEADER>
        </DIV>

        <SECTION class="container">
            <H1>Places</H1>

            <DIV class="places">

                <H2 class="title">States</H2>
                <DIV class="filter" id="states">
                    <H3 class="popover-title">States</H3>
                    <DIV class="popover-content">
                        {% for state in states %}
                            <DIV class="checkbox">
                                <LABEL>
                                    <INPUT type="checkbox" name="state" value="{{ state.id }}">
                                    {{ state.name }}
                                </LABEL>
                            </DIV>
                        {% endfor %}
                    </DIV>
                </DIV>

                <H2 class="title">Cities</H2>
                <DIV class="filter" id="cities">
                    <H3 class="popover-title">Cities</H3>
                    <DIV class="popover-content">
                        {% for city in cities %}
                            <DIV class="checkbox">
                                <LABEL>
                                    <INPUT type="checkbox" name="city" value="{{ city.id }}">
                                    {{ city.name }}
                                </LABEL>
                            </DIV>
                        {% endfor %}
                    </DIV>
                </DIV>

                <H2 class="title">Amenities</H2>
                <DIV class="filter" id="amenities">
                    <H3 class="popover-title">Amenities</H3>
                    <DIV class="popover-content">
                        {% for amenity in amenities %}
                            <DIV class="checkbox">
                                <LABEL>
                                    <INPUT type="checkbox" name="amenity" value="{{ amenity.id }}">
                                    {{ amenity.name }}
                                </LABEL>
                            </DIV>
                        {% endfor %}
                    </DIV>
                </DIV>

            </DIV>
        </SECTION>

        <DIV class="container">
            <FOOTER class="footer bg-dark">
                <DIV class="container">
                    <SPAN class="text-muted">Holberton School</SPAN>
                </DIV>
            </FOOTER>
        </DIV>

    </BODY>
</HTML>
